/* TOP grafik */

div.top {display: grid; width: 95%; height: 10%; min-height: 60px; margin-top: 25px; align-self: center; background-color: red; border-style: solid; border-width: 2px; 
grid-template-areas:
    'top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-logo top-klokke top-klokketal top-mail top-mailtal top-aux top-auxtal adminmenu'
}
div.top-logo {grid-area: top-logo; align-self: left; background-color: yellow; border-style: solid; border-width: 2px; }
div.top-klokke {grid-area: top-klokke; align-self: left; background-color: yellow; border-style: solid; border-width: 2px; }
div.top-klokketal {grid-area: top-klokketal; align-self: left; background-color: yellow; border-style: solid; border-width: 2px; }
div.top-mail {grid-area: top-mail; align-self: left; background-color: yellow; border-style: solid; border-width: 2px; }
div.top-mailtal {grid-area: top-mailtal; align-self: left; background-color: yellow; border-style: solid; border-width: 2px; }
div.top-aux {grid-area: top-aux; align-self: left; background-color: yellow; border-style: solid; border-width: 2px; }
div.top-auxtal {grid-area: top-auxtal; align-self: left; background-color: yellow; border-style: solid; border-width: 2px; }
div.adminmenu {grid-area: adminmenu; align-self: left; background-color: yellow; border-style: solid; border-width: 2px; }

/* main Grafic */
div.main {width: 95%; height: auto; min-height: 1000px; margin-top: 25px; align-self: center; background-color: red; border-style: solid; border-width: 2px; }
div.tr {display: box; width: 10%; min-width: 10px; min-height: 1000px; margin-top: 0px; align-self: left; background-color: yellow; border-style: solid; border-width: 2px;}